___

<a href='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'><img src='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'/></a>
___
<center><em>Content Copyright VIQASYS INNOVATIONS PVT LTD.</em></center>

# Assignment 3

## Question 1
Write a Python program to create a list with the following elements: 4, 8, 9, 'apple', 'banana', 'cherry'. Print the list.

In [14]:
list = [4,8,9,'apple','banana','cherry']
print(list)

[4, 8, 9, 'apple', 'banana', 'cherry']

## Question 2
Given the list [10, 20, 30, 40, 50], write a Python script to print the second and fourth elements.

In [15]:
my_list = [10, 20, 30, 40, 50]
print(f'Second Number: {my_list[1]}')
print(f'Fourth Number: {my_list[3]}')

Second Number: 20
Fourth Number: 40

## Question 3
Create a list of the first 10 even numbers. Write a Python program to print the first half of the list using slicing.

In [16]:
list = [2,4,6,8,10,12,14,16,18,20]
first_half = list[:len(list)//2]
print(f'first half of the list {first_half}')

first half of the list [2, 4, 6, 8, 10]

## Question 4
Here is a list: ["red", "green", "blue"]. Change the element "blue" to "yellow" and print the updated list.

In [17]:
list = ['red', 'green', 'blue']
list.remove('blue')
list.append('yellow')
print(list)

['red', 'green', 'yellow']

## Question 5
Start with an empty list. Write a Python program to append 'apple', 'banana', and 'cherry' to the list using separate append calls, then print the list.

In [18]:
list = []
list.append('apple')
list.append('banana')
list.append('cherry')
print(list)

['apple', 'banana', 'cherry']

## Question 6
Given two lists, [1, 2, 3] and [4, 5, 6], write a Python script that extends the first list with the second list and prints the updated list.

In [10]:
list1 = [1,2,3]
list2 = [4,5,6]
new_list = []
new_list.extend(list1)
new_list.extend(list2)
print(new_list)

[1, 2, 3, 4, 5, 6]

## Question 7
Here is a list: [1, 2, 4]. Insert the number 3 at the appropriate position to maintain sorted order and print the list.

In [22]:
list = [1,2,4]
list.insert(2,3)
print(list)

[1, 2, 3, 4]

## Question 8
From the list [1, 2, 3, 4, 5, 3], write a Python program to remove the first occurrence of the number 3.

In [23]:
list = [1,2,3,4,5,3]
list.remove(3)
print(list)

[1, 2, 4, 5, 3]

## Question 9
Using the list [10, 20, 30, 40, 50], write a Python script to remove and print the last element.

In [30]:
list = [10,20,30,40,50]
for i in range(len(list)):
    if i == (len(list)-1):
        print(list[i])
        del list[i]
print(list)

50
[10, 20, 30, 40]

## Question 10
Take the list [1, 2, 3, 4, 5] and write a Python script that empties the list and prints it.

In [33]:
list = [1,2,3,4,5]

for i in range(len(list)):
    del list[0]
print(list)

[]

## Question 11
Write a Python program to find the number of elements in the list [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [34]:
list = [1,2,3,4,5,6,7,8,9]
count = 0
for i in list:
    count = count+1
print(count)

9

## Question 12
Given the list ['apple', 'banana', 'apple', 'cherry'], count and print how many times 'apple' appears in the list.

In [35]:
list = ['apple', 'banana', 'apple', 'cherry']
count = 0
for i in list:
    if i == 'apple':
        count = count + 1

print(count)

2

## Question 13
Create a list of the words ['banana', 'apple', 'cherry']. Write a Python program to sort the list alphabetically and print it.

In [37]:
list = ['banana', 'apple', 'cherry']
print(sorted(list))

['apple', 'banana', 'cherry']

## Question 14
Given the list [1, 2, 3, 4, 5], write a script that reverses the list and prints it.

In [40]:
list = [1,2,3,4,5]
rev_list = []

for i in range(len(list)-1, -1, -1):
    rev_list.append(list[i])
print(rev_list)

[5, 4, 3, 2, 1]

## Question 15
Check if the value 'cat' exists in the list ['dog', 'rabbit', 'horse'] and print the result as a boolean value.

In [3]:
list=['dog','rabbit','horse']
i='cat'
if i in list:
    print('True')
else:       
    print('False')

False

## Question 16
Copy the contents of list a = [1, 2, 3] into a new list b and print both lists.

In [5]:
a=[1,2,3]
b=a[:]
print('Original list a:',a)
print('After Copy list b:',a)

Original list a: [1, 2, 3]
After Copy list b: [1, 2, 3]

## Question 17
Using list comprehension, create a list of squares for numbers from 1 to 10 and print the list.

In [7]:
squares = [i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Question 18
Here is a nested list: [[1, 2], [3, 4], [5, 6]]. Access and print the second element of the first nested list.

In [10]:
nested_list = [[1,2],[3,4],[5,6]]
print(f'Second Number: {nested_list[0][1]}')

Second Number: 2

## Question 19
Concatenate the lists [1, 2, 3] and [4, 5, 6] into a single list and print the result.

In [12]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

## Question 20
Using a list as a stack, push the elements 10, 20, 30, one by one, and then pop each one in LIFO order, printing each popped element.

In [15]:
stack_list =[]
# Pushing elements onto the stack
stack_list.append(10)
stack_list.append(20)
stack_list.append(30)

# Popping elements off the stack in LIFO order and printing each popped element
while stack_list:
    popped_element = stack_list.pop()
    print(popped_element)

30
20
10